{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <p>This is the home page</p>
</body>
</html> --}}

<!-- Loop over each object in the timesheets array -->
{{#each timesheets as |timesheet| }}
<div class="row mb-4 timesheet">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/timesheet/{{timesheet.id}}">{{timesheet.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount timesheet.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{timesheet.user.name}} on {{format_date timesheet.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{timesheet.task}}
    </p>
  </div>
</div>
{{/each}}
