<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{task}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="time">⏱️ </span>
    <span class="dollar-amount">{{format_amount hours}}</span>
    Hours 
  </p>
  <p>
    {{#if logged_in}}
        <a href="/profile">Add More Task</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
  </p>
</div>
